/* Header/styles.css */

header {
  position: relative;
}

.sacola {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../../assets/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 35px;
  text-align: right;
  width: 160px;
}